<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Project</title>

    <!-- Tailwind Style -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex min-h-screen h-screen bg-gray-300">

      <%= working %>

    </div>
  </body>
  <footer>

    <!-- Custom script file -->
    <script src="src/script.js" charset="utf-8"></script>

    <!-- Socket.io script -->
    <script src="src/socketio.js" charset="utf-8"></script>
    <script src="src/socket.js" charset="utf-8"></script>

  </footer>
</html>
