<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Project</title>

    <!-- Tailwind Style -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex min-h-screen h-screen bg-gray-300">


    </div>
  </body>
  <footer>
    <script src="src/script.js" charset="utf-8"></script>

  </footer>
</html>
